<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Planetarium_Plugin.Properties.Settings.PlanetariumDBConnectionString"
        connectionString="Data Source=.\sql2008r2;Initial Catalog=PlanetariumDB;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>